table {
    margin: 0 auto;
    width: 50%;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    border-spacing: 0; 
    background-color: rgb(150, 212, 211);
}

table, th, td {
    border-radius: 10px;
    border: 1px solid black; 
}

body {
    text-align: center;
    font-size: large;
}
.heading {
    font-weight: bold;
    text-align: center;
}
